.input-field{
  padding: 10px 15px;
  background-color: $white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid $input-border-color;
  height: 50px;
  box-shadow: none;
  @include placeholder{
    color: $text-info-color;
  };
  &.input-field--size-small{
    height: 40px;
    font-size: 14px;
    line-height: 20px;
  }
}