.product-prev
  a(href="#").product-prev__header
    .product-prev__marks
      .product-prev__mark.product-prev__mark--bg-yellow -30%
      .product-prev__mark.product-prev__mark--bg-green Хит
    img(src="static/images/content/products/product-prev-1.jpg")
  a(href="#").product-prev__body
    .product-prev__title
      span.product-prev__name Планка стыковочная 30х30х2000 мм, толщина 0.4 мм, цвет графитовый серый RAL 7024
      span.count-text 10 шт.
    .product-prev__info
      span.product-prev__info-label
      span.product-prev__info-value
    .product-prev__info
      span.product-prev__info-label
      span.product-prev__info-value
  .product-prev__footer
