section.s-advantages.s-bg-white
  .container
    .advantages
      .advantage
        .advantage__aside
          +icon('creative', 'advantage__icon')
        .advantage__body
          span.advantage__title 30-ти дневная гарантия возврата денег
          p.advantage__text Поэтому вы можете делать покупки с уверенностью.
          a(href="#").advantage__link Узнать о гарантии
      .advantage
        .advantage__aside
          +icon('clock', 'advantage__icon')
        .advantage__body
          span.advantage__title Специалисты по товарам
          p.advantage__text Мы ответим на любые вопросы о товарах в течении 10 минут
          a(href="#").advantage__link Получить консультацию
      .advantage
        .advantage__aside
          +icon('network', 'advantage__icon')
        .advantage__body
          span.advantage__title Бесплатные образцы
          p.advantage__text Некоторые товары вы можете изучить внимательно перед покупкой.