@import "location";
@import "banner";
@import "section";

.logo{
  display: flex;
  flex-direction: column;
  max-width: 154px;
  font-size: 12px;
}

.search{
  display: flex;
  align-items: center;
  & > * {
    &:not(:last-child) { margin-right: 10px; }
  }
  &__icon{
    @include size(22px);
    fill: $white;
  }
  .input-field {
    flex: 0 0 220px;
    width: 220px;
  }
}

.order-callback{
  display: flex;
  flex-direction: column;
  &__description{ font-size: 12px; }
  &__link { 
    color: $white;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 600;
  }
  &__phone { 
    color: $main-action-color; 
    font-size: 20px;
    font-weight: 900;
    line-height: 1.5;
    white-space: nowrap;
  }
}

.title{
  &-page{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25;
  }
  &-section{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 20px;
  }
}

.count-text {
  margin-left: 5px;
  color: $text-info-color;
  font-size: 14px;
}