@import "location";
@import "banner";
@import "section";
@import "sales-leaders";
@import "links";

.logo{
  display: flex;
  flex-direction: column;
  max-width: 154px;
  font-size: 12px;
}

.search{
  display: flex;
  align-items: center;
  & > * {
    &:not(:last-child) { margin-right: 10px; }
  }
  &__icon{
    @include size(22px);
    fill: $white;
  }
  .input-field {
    flex: 0 0 220px;
    width: 220px;
  }
}

.order-callback{
  display: flex;
  flex-direction: column;
  &__description{ font-size: 12px; }
  &__link { 
    font-size: 14px;
  }
  &__phone { 
    color: $main-action-color; 
    font-size: 20px;
    font-weight: 900;
    line-height: 1.5;
    white-space: nowrap;
  }
}

.title{
  &-page{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25;
  }
  &-section{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25;
  }
}

.count-text {
  margin-left: 5px;
  color: $text-info-color;
  font-size: 14px;
}

.slider-nav {
  opacity: .5;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all linear .3s;
  &:hover { opacity: 1; }
  &.slider-nav {
    &--prev { left: -55px; }
    &--next { right: -55px; }
  }
  &.slick-disabled {
    cursor: default;
    &:hover{ opacity: .5; }
  }
  &__icon {
    @include size(30px);
    fill: $base-text-color;
  }
}

.upgrade {
  display: flex;
  align-items: center;
  font-size: 14px;
  & > * {
    &:not(:last-child) { margin-right: 10px; }
  }
  &__icon {
    @include size(10px);
    fill: white;
    &-wrapper {
      @include size(16px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $text-info-color;
      border-radius: 50%;
    }

  }
}

.questions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ask-your-question {
  display: flex;
  align-items: center;
  & > * {
    &:not(:last-child) { margin-right: 30px; }
  }
  &__list {
    display: flex;
    align-items: center;
    & > * {
      &:not(:last-child) { margin-right: 20px; }
    }
  }
  &__link {
    & > * {
      &:not(:last-child) { margin-right: 10px; }
    }
  }
  &__icon {
    @include size(24px);
    fill: $base-text-color;
  }

}