footer.footer
  .footer-main
    .container
  .footer-bottom
    .container
      .footer-bottom__line
        span.copyright © 2018 Завод "Венёвский"
        a(href="#").footer-bottom__link Политика конфиденциальности
        a(href="#").footer-bottom__link Карта сайта
      .footer-bottom__line
        p.footer-bottom__text Сайт venev.ru носит исключительно информацинонный характер и ни при каких условиях не является публичной офертой, определяемой положениями ГК РФ.
        p.footer-bottom__text Для получения подробной информации о наличии, видах, характеристиках и стоимости материалов, пожалуйста, обращайтесь в офисы продаж.